 <!-- This is my header section -->


 <section class="first d-flex justify-content-center justify-content-lg-between p-2 border-bottom text-white " style="background-color:#04293A!important">
         
    <div class="me-5 d-none d-lg-block d-flex align-items-center justify-content-center " style="font-size:12px">
        <span >
           
          <a href="mailto:fusionarechitect@gmail.com" class="text-light me-4 " style="text-decoration:none" >
          <i class="fa-regular fa-envelope ms-3 me-1"></i>fusionarechitect@gmail.com</a> 
        </span>
        <span>
          <a href="tel:8983709520" class="text-light px-2  " style="text-decoration:none">
              <i class="fa-solid fa-phone"></i> 8983709520</a>
        </span>
        
        
      
      </div>
    </section>






<!-- This is my navigation bar -->



<header class="p-3 ">
<div class="container">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start ">
    

    <ul class="nav col-12  mb-3 d-flex justify-content-between align-items-center mb-md-0 fosize " >
      <li><a routerLink="" class="nav-link  px-1  me-4 text-dark fofamily" style="font-family: 'Bebas Neue', cursive; font-size:45px ; letter-spacing:1px" >Fusion Architecture</a></li>
      <li><a routerLink="" class="nav-link px-0 text-dark ud">Home</a></li>
      <li><a routerLink="architecture" class="nav-link px-0 text-dark ud ">Architecture</a></li>
      <li><a routerLink="interior" class="nav-link px-0 text-dark ud ">Interior</a></li>
      <li><a routerLink="services" class="nav-link px-0 text-dark ud">Services</a></li>
      <li><a routerLink="awards"class="nav-link px-0 text-dark ud">Awards</a></li>
      <li><a routerLink="aboutus"class="nav-link px-0  pe-0 text-dark ud ">About Us</a></li>
      <li><a routerLink="contactus" class="nav-link px-0 pe-0 text-dark ud ">Contact Us</a></li>
    </ul>

 
    <!-- <div class="text-end">
      <button type="button" class="btn btn-outline-dark me-2">Login</button>
      <button type="button" class="btn btn-outline-dark">Sign-up</button>
    </div>
  </div> -->
</div>
<!-- </header> -->