<div class="container">
  <div class="row">
  
    <!--First column-->
    <div class="col-lg-5 col-md-12">
  
      <!--Featured image-->
      <div class="view overlay z-depth-1 mb-3 ms-2" >
        <img src="../../assets/Images/Aboutus/e1.jpg" class="rounded img-fluid w-80" alt="eshan image 1" height="300" width="400" style="box-shadow: 7px 7px 14px 1px rgba(0,0,0,0.6)"  >
      </div>
    </div>
    <!--First column-->
  
    <!--Second column-->
    <div class="col-lg-6 ml-lg-auto col-md-12 text-center text-md-left">
  
      <!--Title-->
      <h3 class="mb-5" style=" color:#04293A; font-family: 'Bebas Neue', cursive; letter-spacing:1px  "><u>About Me</u></h3>
  
      <!--Description-->
      <p  class="text-muted" style="text-align:justify">My name is Eshan Parakh,<br>
        Now is the best time for me to further enhance my skills and step my foot into the professional work environment.<br>
        My 4th years portfolio, freelance projects and CV are attached below for your reference.</p>
  
    </div>
    <!--Second column-->
  </div>
  </div>
  
  <br><br>
  
  <div class="container">
  <div class="row">
  
    <!--Second column-->
    <div class="col-lg-6 ml-lg-auto col-md-12 text-center text-md-left">
  
      <!--Title-->
      <h3 class="mb-5" style=" color:#04293A; font-family: 'Bebas Neue', cursive; letter-spacing:1px  "><u>Education</u></h3>
  
      <!--Description-->
     
        <ul class="text-muted ms-5 " style="text-align:justify"><li>2018<br>
        11th -12th-
        New English High School, Nagpur, Maharashtra.</li>
        <li>2022 <br>
        Radhikatai Pandav B Arch, Nagpur, Maharashtra.</li></ul>
        
    </div>
    <!--Second column-->
  
    <!--First column-->
    <div class="col-lg-5 col-md-12">
  
      <!--Featured image-->
      <div class="view overlay z-depth-1 mb-3 ms-5">
        <img src="../../assets/Images/Aboutus/e2.jpeg" class="rounded img-fluid" alt="eshan image 1" height="300" width="300"  style="box-shadow: 7px 7px 14px 1px rgba(0,0,0,0.6); margin-left:100px; "   >
      </div>
    </div>
    <!--First column-->
  
    
  </div>
  </div>
  
  <br><br>
  
  
  
  <div class="container">
  <div class="row">
  
    <!--First column-->
    <div class="col-lg-5 col-md-12">
  
      <!--Featured image-->
      <div class="view overlay z-depth-1 mb-3">
        <img src="../../assets/Images/Aboutus/e3.jpeg" class="rounded img-fluid" alt="eshan image 1" height="300" width="400" style="box-shadow: 7px 7px 14px 1px rgba(0,0,0,0.6)"   >
      </div>
    </div>
    <!--First column-->
  
    <!--Second column-->
    <div class="col-lg-6 ml-lg-auto col-md-12 text-center text-md-left">
  
      <!--Title-->
      <h3 class="mb-5" style=" color:#04293A; font-family: 'Bebas Neue', cursive; letter-spacing:1px  "><u>Work Experience</u></h3>
  
      <!--Description-->
      <ul  class="text-muted" style="text-align:justify" ><li>10-JUN 2021- 30 JAN 2022</li>
        AR . RITWIK CHANDAK<br>
        Worked with Ar. Ritwik Chandak, Nagpur based firm for duration of 8 months,
        
  
       <li>ARCHEESPACE STUDIO, PUNE</li>
       Archeespace Studio, Pune based Architecture and Interior Design firm, for duration of 6 months.
  
       <li>FREELANCE WORK</li>
       Completed more than 150+ freelancing projects and still going.
      </ul>
  
    </div>
    <!--Second column-->
  </div>
  </div>
  
  
  
  <br><br>
  
  <div class="container">
  <div class="row">
  
    <!--Second column-->
    <div class="col-lg-6 ml-lg-auto col-md-12 text-center text-md-left">
  
      <!--Title-->
      <h3 class="mb-5" style=" color:#04293A; font-family: 'Bebas Neue', cursive; letter-spacing:1px  "><u>Skills</u></h3>
  
      <!--Description-->
      <ul class="text-muted ms-5" style="text-align:justify"> <li>AUTOCAD</li>
        <li>SKETCHUP  </li>
        <li> VRAY</li>
        <li> LUMION</li>
        <li> PHOTOSHOP</li>
        <li> MICROSOFT</li>
        <li> 3D MAX REVIT</li>
      </ul>
    </div>
    <!--Second column-->
  
    <!--First column-->
    <div class="col-lg-5 col-md-12">
  
      <!--Featured image-->
      <div class="view overlay z-depth-1 mb-3 ms-5">
        <img src="../../assets/Images/Aboutus/e4.jpg" class="rounded img-fluid" alt="eshan image 1" height="300" width="300"  style="box-shadow: 7px 7px 14px 1px rgba(0,0,0,0.6); margin-left:100px; "    >
      </div>
    </div>
    <!--First column-->
  
    
  </div>
  </div>
    