<div align="center">
    <span><h3 style=" color:#04293A; font-family: 'Bebas Neue', cursive; letter-spacing:1px  "  ><u>Our Services</u></h3> </span>
    </div><br>
    
    
    
    
    
    <div align="center"> 
      
      <a class="btn btn-primary " routerLink="addservice" role="button" style="background-color: #3A8891 ">Add Service</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="btn btn-primary" routerLink="updateservice" role="button" style="background-color: #3A8891">Update Service</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="btn btn-primary" routerLink="deleteservice" role="button" style="background-color: #3A8891">Delete Service</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="btn btn-primary" routerLink="viewservice" role="button" style="background-color: #3A8891">View Service</a>
    
    </div>
    <br>
    
    
    <div class="container">
    <div class="row wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">
    
      <!-- First column -->
      <div class="col-md-6 mb-4 text-center">
    
        <!--Panel-->
        <a ><div class="card card-body text-left white hoverable text-decoration:none" style="box-shadow: 7px 5px 10px 1px rgba(0,0,0,0.4) ;background-color:#124759;text-decoration:none ">
          <p class="font-weight-bold title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4" style="text-decoration:none">
            
            <strong style="color: #d2e6ef; text-decoration:none ">2D Floor Plan</strong>
          </p>
          <p class="grey-text font-small mx-4  " style="text-decoration:none; color:white" >Here are services of 2d floor plan.
            </p><p class="font-small font-weight-bold orange-text mx-4 mb-0">
              <!-- <a href="http://"   style="text-decoration:none "><button style="background-color:#d2e6ef"><b>Read More</b></button></a> -->
            </p>
          <p></p>
        </div></a>
        <!--/.Panel-->
    
      </div>
      <!-- /First column -->
    
      <!-- Second column -->
      <div class="col-md-6 mb-4 text-center">
    
        <!--Panel-->
        <a ><div class="card card-body text-left white hoverable text-decoration:none" style="box-shadow: 7px 5px 10px 1px rgba(0,0,0,0.4) ;background-color:#124759;text-decoration:none ">
          <p class="font-weight-bold title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4" style="text-decoration:none">
            
            <strong style="color: #d2e6ef; text-decoration:none ">3D Modelling</strong>
          </p>
          <p class=" font-small mx-4 text-light " style="text-decoration:none;" >Here are services of 3D Modelling.
            </p><p class="font-small font-weight-bold orange-text mx-4 mb-0">
              <!-- <a href="http://"   style="text-decoration:none "><button style="background-color:#d2e6ef"><b>Read More</b></button></a> -->
            </p>
          <p></p>
        </div></a>
        <!--/.Panel-->
    
      </div>
      <!-- /.Second column -->
    
      <!-- Third column -->
      <div class="col-md-6 mb-4 text-center">
    
        <!--Panel-->
        <a ><div class="card card-body text-left white hoverable text-decoration:none" style="box-shadow: 7px 5px 10px 1px rgba(0,0,0,0.4) ;background-color:#124759;text-decoration:none ">
          <p class="font-weight-bold title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4" style="text-decoration:none">
            
            <strong style="color: #d2e6ef; text-decoration:none ">Renders</strong>
          </p>
          <p class=" font-small mx-4 text-light " style="text-decoration:none;" >Here are services of Rendering.
            </p><p class="font-small font-weight-bold orange-text mx-4 mb-0">
              <!-- <a href="http://"   style="text-decoration:none "><button style="background-color:#d2e6ef"><b>Read More</b></button></a> -->
            </p>
          <p></p>
        </div></a>
        <!--/.Panel-->
    
      </div>
      <!-- /.Third column -->
    
      <!-- Fourth column -->
      <div  class="col-md-6 mb-4 text-center">
    
        <!--Panel-->
        <a ><div class="card card-body text-left white hoverable text-decoration:none" style="box-shadow: 7px 5px 10px 1px rgba(0,0,0,0.4) ;background-color:#124759;text-decoration:none ">
          <p class="font-weight-bold title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4" style="text-decoration:none">
            
            <strong style="color: #d2e6ef; text-decoration:none ">Virtual Staging</strong>
          </p>
          <p class=" font-small mx-4 text-light " style="text-decoration:none;" >Here are services of Virtual Staging.
            </p><p class="font-small font-weight-bold orange-text mx-4 mb-0">
              <!-- <a href="http://"   style="text-decoration:none "><button style="background-color:#d2e6ef"><b>Read More</b></button></a> -->
            </p>
          <p></p>
        </div></a>
        <!--/.Panel-->
    
      </div>
      <!-- /.Fourth column -->
    
    </div>
    </div>
    
    
    
    
    
    
    
    <div align="center">
    <div  class="col-md-6 mb-4 text-center">
    
        <!--Panel-->
        <a ><div class="card card-body text-left white hoverable text-decoration:none" style="box-shadow: 7px 5px 10px 1px rgba(0,0,0,0.4) ;background-color:#124759;text-decoration:none ">
          <p class="font-weight-bold title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4" style="text-decoration:none">
            
            <strong style="color: #d2e6ef; text-decoration:none ">Photo Editing</strong>
          </p>
          <p class=" font-small mx-4 text-light " style="text-decoration:none;" >Here are services of Photo Editing.
            </p><p class="font-small font-weight-bold orange-text mx-4 mb-0">
              <!-- <a href="http://"   style="text-decoration:none "><button style="background-color:#d2e6ef"><b>Read More</b></button></a> -->
            </p>
          <p></p>
        </div></a>
        <!--/.Panel-->
    
      </div>
    </div>
    <router-outlet></router-outlet>