<hr>



  <!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 style=" color:#04293A; font-family: 'Bebas Neue', cursive; letter-spacing:1px  "  class="h1-responsive font-weight-bold text-center my-4 " ><u>Contact Us</u></h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Ping us for project related inquires. Please do not hesitate to contact us directly.<br> Our team will come back to you within
        a matter of hours to help you.</p>

    <div class="row justify-content-center">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5 justify-content-center ms-5">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-3">
                            <label for="name" class="">Your Full Name</label>
                            <input type="text" id="name" name="name" class="form-control" placeholder="Fullname" required style="background-color:#f2f7f9">
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-3">
                           <label for="email" class="">Your Email</label>
                            <input type="text" id="email" name="email" class="form-control" placeholder="E-mail" required style="background-color:#f2f7f9">
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-3">
                            <label for="subject" class="">Subject</label>
                            <input type="text" id="subject" name="subject" class="form-control" placeholder="Subject" required style="background-color:#f2f7f9">
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                          <label for="message">Your message</label>
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea" placeholder="Message" required style="background-color:#f2f7f9"></textarea>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-left mt-5">
                <a class="btn btn-primary" onclick="Submit()" style="background-color:#19647d">Send</a>
            </div>
            <div class="status"></div>
        </div>
        

    </div>
   
<br>
</section>


<!-- This is map section -->

<section align="center" >
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d232.596171302625!2d79.1182706131858!3d21.130948004729095!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd4c750dfdf74d3%3A0xfb450dc9b9cd5497!2sTajshree%20Vihar!5e0!3m2!1sen!2sin!4v1664252866527!5m2!1sen!2sin" width="1230" height="450"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" style="box-shadow: 7px 7px 14px 1px rgba(0,0,0,0.6) ;"></iframe>
  </section>

