<br>
<div align="center">
<span><h3 style=" color:#04293A; font-family: 'Bebas Neue', cursive; letter-spacing:1px  "><u>Architecture Projects</u></h3> </span>
</div>




<!-- This is my gallery section -->
<div class="container mt-5">
  <!-- Gallery -->
  <div class="row">
      <!-- col-md-12 -->
      <div class="col-lg-4 mb-4 mb-lg-0">
          <img src="../../assets/Images/Architecture/1.JPG" class="w-100   mb-3 text-muted" alt="" style=" height:26.8rem; box-shadow: 7px 5px 10px 1px rgba(0,0,0,0.4) ;"/>
          <ul><li><i>Client Ashlesh Chinchkhede, Nagpur</i></li></ul>

          <img src="../../assets/Images/Architecture/2.JPG" class="w-100   mb-2 text-muted" alt="" style=" height:26.8rem;box-shadow: 7px 5px 10px 1px rgba(0,0,0,0.4) ;" />
          <ul><li><i>Client Ashlesh Chinchkhede, Nagpur</i></li></ul>

          <img src="../../assets/Images/Architecture/3.jpg" class="w-100   mb-2 text-muted" alt=""  style=" height:26.8rem;box-shadow: 7px 5px 10px 1px rgba(0,0,0,0.4) ;"/>
          <ul><li><i>This is image 1</i></li></ul>
          <img src="../../assets/Images/Architecture/4.jpg" class="w-100  mb-2 text-muted" alt="" style=" height:26.8rem;box-shadow: 7px 5px 10px 1px rgba(0,0,0,0.4) ; "/>
          <ul><li><i>This is image 1</i></li></ul>      </div>

      <div class="col-lg-4 mb-4 mb-lg-0">
          <img src="../../assets/Images/Architecture/4.png" class="w-100   mb-3  text-muted" alt="" style="height: 26.8rem; box-shadow: 7px 5px 10px 1px rgba(0,0,0,0.4) ;" />
          <ul><li><i>Client Manish Kharbade, Gadchiroli</i></li></ul>

          <img src="../../assets/Images/Architecture/5.jpg" class="w-100   mb-2 text-muted" alt="" style="height:26.8rem; box-shadow:7px 5px 10px 1px rgba(0,0,0,0.4) ;"/>
          <ul><li><i>Client Nikhil, Bhandara</i></li></ul>
          <img src="../../assets/Images/Architecture/6.jpg" class="w-100   mb-2 text-muted" alt=""  style=" height:26.8rem; box-shadow: 7px 5px 10px 1px rgba(0,0,0,0.4) ;"/>
          <ul><li><i>This is image 1</i></li></ul>
          <img src="../../assets/Images/Architecture/7.jpg" class="w-100   mb-2 text-muted" alt="" style="height:26.8rem; box-shadow: 7px 5px 10px 1px rgba(0,0,0,0.4) ;" />
          <ul><li><i>This is image 1</i></li></ul>
          <img src="../../assets/Images/Architecture/12.png" class="w-100   mb-2 text-muted" alt="" style="height:26.8rem; box-shadow: 7px 5px 10px 1px rgba(0,0,0,0.4) ;"/>
          <ul><li><i>This is image 1</i></li></ul>      </div>

      <div class="col-lg-4 mb-3 mb-lg-0">
          <img src="../../assets/Images/Architecture/8.jpg" class="w-100 shadow  mb-3 text-muted" alt="" style="height:26.8rem; box-shadow: 7px 5px 10px 1px rgba(0,0,0,0.4) ;"/>
          <ul><li><i>Client Ayush Nagarare, Pauni</i></li></ul>

          <img src="../../assets/Images/Architecture/9.jpg" class="w-100  mb-2 text-muted" alt=""  style=" height:26.8rem;box-shadow: 7px 5px 10px 1px rgba(0,0,0,0.4) ;"/>
          <ul><li><i>Cilent Mrunalini Dhoble, Nagpur</i></li></ul>
          <img src="../../assets/Images/Architecture/10.jpg" class="w-100  mb-2  text-muted" alt="" style=" height:26.8rem;box-shadow: 7px 5px 10px 1px rgba(0,0,0,0.4) ;" /> 
          <ul><li><i>This is image 1</i></li></ul>
          <img src="../../assets/Images/Architecture/11.png" class="w-100  mb-2 text-muted " alt="" style=" height:26.8rem;box-shadow: 7px 5px 10px 1px rgba(0,0,0,0.4) ;" />
          <ul><li><i>This is image 1</i></li></ul>      </div>
  </div>
  <!-- Gallery -->
</div>


<!-- </main> -->
<!-- Gallery Ends -->

