<div align="center">
    <span><h2 style=" color:#04293A; font-family: 'Bebas Neue', cursive; letter-spacing:1px  "  ><u>Delete Service</u></h2> </span>
    </div><br>
    
    <br><br>
    
    <div class="container mb-4"> 
    <section class="h-100 h-custom" style="background-color:#124759;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-6 col-xl-6">
              <div class="card rounded-3">
                <img src="../../assets/Images/Services/a2.jpeg"
                  class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                  alt="Sample photo">
                <div class="card-body p-4 p-md-5">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2" style="font-family: 'Bebas Neue'">Insert Details</h3>
      
                  <form class="px-md-2" #deleteform="ngForm" (ngSubmit)="deletedata(deleteform)">
      
                    <div class="form-outline mb-4">
                        <input type="text" id="serviceid" #serviceid (ngModel)="serviceid" name="serviceid" class="form-control" />
                        <label class="form-label" for="form3Example1q">Service Id</label>
                      </div>
      
                    
                      <div align="center"> 
                    <button type="submit" class="btn btn-success btn-lg mb-1" >Submit Details</button>
                      </div>
                  </form>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>