<br>
<div align="center">
  <span><h3 style=" color:#04293A; font-family: 'Bebas Neue', cursive; letter-spacing:1px  " ><u>Certifications</u></h3> </span>
  </div><br>
  


  <div class="container" >

    <div align="center">
  <img src="../../assets/Images/Certificate/c1.png" class="  mb-3 text-muted " alt="" style=" height:30rem; box-shadow: 7px 5px 10px 1px rgba(0,0,0,0.4) ;"/>
  <ul><li><i>Arch. Eshan Parakh, Nagpur</i></li></ul>
   </div>

  <br><br>

   <div align="center">
  <img src="../../assets/Images/Certificate/c2.png" class="  mb-3 text-muted" alt="" style=" height:40rem; box-shadow: 7px 5px 10px 1px rgba(0,0,0,0.4) ;"/>
  <ul><li><i>Arch. Eshan Parakh, Nagpur</i></li></ul>
  </div>

  <br><br>

  <div align="center">
  <img src="../../assets/Images/Certificate/c3.jpeg" class="   mb-3 text-muted" alt="" style=" height:30rem; box-shadow: 7px 5px 10px 1px rgba(0,0,0,0.4) ;"/>
  <ul><li><i>Arch. Eshan Parakh, Nagpur</i></li></ul>
  </div>
  
</div>
<br><br>